html{

}

body{
	min-height: 100vh !important;
}


/* VARIABLES */

:root {
  --main-color: #007ea8;
  
  --primary-color-h: 197;
  --primary-color-s: 100%;
  --primary-color-l: 47%;

  /*  Calculations Based on Lightness  */
  --lightnessTransform: 10%;
  --darknessTransform: 15%;
  --primary-color-light-l: calc(var(--primary-color-l) + var(--lightnessTransform));
  --primary-color-dark-l: calc(var(--primary-color-l) - var(--darknessTransform));

  --color-primary: hsl(var(--primary-color-h),
                       var(--primary-color-s),
                       var(--primary-color-l));
  --color-primary-dark:hsl(var(--primary-color-h),
                       var(--primary-color-s),
                       var(--primary-color-dark-l));

}






/* HOME PAGE */


#homepage-body{
	background: url("../content/default/loginimg1.jpg");
  	background-repeat: no-repeat;
  	background-size: cover;
}

#homepage-login{
	background-color:#ffffff;
	max-width:300px;
	position: fixed; 
	top: 50%;
  	left: 50%;
  	/* bring your own prefixes */
  	transform: translate(-50%, -50%);
  	padding:20px 20px;
}

#homepage-login input, #homepage-login button{
	margin-top:20px;
}

#homepage-serverResponse{
	padding:5px;
	text-align:center;
}











/* SIGN UP PAGE */

#signup-maindiv{
	background-color:#ffffff;
	max-width:500px;
	position: fixed; 
	top: 50%;
  	left: 50%;
  	/* bring your own prefixes */
  	transform: translate(-50%, -50%);
  	padding:20px 20px;
}

#signup-maindiv input, #signup-maindiv button{
	margin-top:20px;
}

#signup-password-error{
	padding:5px;
	text-align:center;
}












/* DASHBOARD PAGE */

/*header{
	width: 100vw !important;
	height:50px;
}
*/
/*#header-logo{float:left;}

#header-logout{float:right;}*/

#dashboard-sidebar{
	width:20vw;
	float:left;
	background-color:#383838;
	/*background-color:var(--color-primary);*/
	height:100vh;
	position:fixed;

}

#dashboard-sidebar ul{
	padding: 20px 20px;
}
#dashboard-sidebar li{
	/*background-color:var(--color-primary-dark);*/
	  
}

#header-logout button{
	width:100%;
	transition: all 0.2s ease-in-out;
}

#header-logout button:hover{
	background-color:#a8a8a8;
	color:#ffffff;
	
}

#dashboard-sidebar .uk-active a{
	color:#ffffff !important;
}

#dashboard-sidebar .uk-nav-sub
{
	background-color: #2f2f2f;
}

#dashboard-main{
	display:block;
	width:80%;
	left: 20%;
    position: relative	
}

#dashboard-main table{
	display:block;
}

#centeredDiv {
	display:table;
}


.mapboxgl-ctrl-logo{
	display: none !important;
}

.mapboxgl-ctrl-bottom-right{
	display:none;
}

.fa-icon {color: red;}





#users-row:hover{
	background-color:#dcdcdc;
}

.disable{
	pointer-events: none;
    cursor: not-allowed;
    background-color: #ebebeb !important;
    color: #bbb !important;
}

.marker {
  background-image: url('../content/default/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-marker{
	top: -13px !important; /*Used to make sure that the bottom of the pin is the point that is fixed*/
}

.marker-notactive{
	filter:grayscale(1);
}

.mapboxgl-popup {
  max-width: 160px;
}

.mapboxgl-popup h3{
	font-size: 1rem !important;
	margin:10px 0px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}




/*    PROJECT OVERVIEW      */

#projectOverview-status-online{
	color:#00d624;
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}


#projectHeaderImg{
	width:100%;
	height:300px !important;
}

#projectView-Header{
	transform: translateY(-50%);
    background-color: #ffffff;
    padding: 10px 40px;
}

.projectView-Desc{
	padding:0% 10%;
	/*display:flex !important;*/
}

#projectView-Map{
	object-fit: cover;
	width:100% ;
	height:200px !important;
	max-width:none !important;
}

.projectView-MainShadow{
	box-shadow: 0px 13px 15px rgba(0,0,0,.05) !important;
}


#responseDataTable tbody{
	width: 100%;
    display: block;
}